Repository plcnk/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/charts

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/moodist/Chart.yaml
  charts/moodist/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

fix(charts): Update outdated bjw-s chart link
  .github/ct-install-config.yaml
  .github/ct-lint-config.yaml
  .github/workflows/release.yaml
  charts/cloudflare-tunnel/Chart.lock
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.lock
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.lock
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.lock
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
  hack/templates/README.md.gotmpl
Labels: area/ci, area/charts

fix(charts): Update outdated bjw-s chart link (#112)
  .github/ct-install-config.yaml
  .github/ct-lint-config.yaml
  .github/workflows/release.yaml
  charts/cloudflare-tunnel/Chart.lock
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.lock
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.lock
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.lock
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
  hack/templates/README.md.gotmpl
Labels: area/ci, area/charts

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/charts:
  - changed-files:
      - any-glob-to-any-file: "charts/**/*"
