Repository plcnk/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/charts

chore: Update chart metadata
  charts/moodist/Chart.yaml
  charts/moodist/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

feat(doc): Update README.md
  README.md
Labels: none

feat(charts): Add Wiki.js
  README.md
  charts/wikijs/.helmignore
  charts/wikijs/Chart.lock
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
  charts/wikijs/README_CONFIG.md.gotmpl
  charts/wikijs/icon.svg
  charts/wikijs/templates/common.yaml
  charts/wikijs/values.yaml
Labels: area/charts

feat(wikijs): Switch to ghcr image
  charts/wikijs/Chart.yaml
  charts/wikijs/values.yaml
Labels: area/charts

feat(wikijs): Edit documentation
  README.md
  charts/wikijs/README.md
  charts/wikijs/README_CONFIG.md.gotmpl
Labels: area/charts

feat(actions): Add bitnami Helm dependency
  .github/ct-install-config.yaml
  .github/ct-lint-config.yaml
Labels: area/ci

feat(actions): Add bitnami Helm dependency
  .github/ct-install-config.yaml
  .github/ct-lint-config.yaml
Labels: area/ci

fix(wikijs): Update Chart.lock file
  charts/wikijs/Chart.lock
Labels: area/charts

feat(wikijs): Add startup probe
  charts/wikijs/templates/common.yaml
Labels: area/charts

feat(wikijs): Initial release (#13)
  README.md
  charts/wikijs/.helmignore
  charts/wikijs/Chart.lock
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
  charts/wikijs/README_CONFIG.md.gotmpl
  charts/wikijs/icon.svg
  charts/wikijs/templates/common.yaml
  charts/wikijs/values.yaml
Labels: area/charts

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

fix(actions): Add Bitnami Helm dependency
  .github/workflows/release.yaml
Labels: area/ci

Update index.yaml
  index.yaml
Labels: none

feat(doc): Update README.md
  README.md
Labels: none

feat(actions): Add copy README workflow
  .github/workflows/copy-readme.yaml
Labels: area/ci

test(actions): Test copy workflow
  README.md
Labels: none

test(actions): Test copy workflow
  .github/workflows/copy-readme.yaml
  README.md
Labels: area/ci

test: Copy
  .github/workflows/copy-readme.yaml
  README.md
Labels: area/ci

feat(actions): Remove copy workflow
  .github/workflows/copy-readme.yaml
  README.md
Labels: area/ci

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

feat(cloudflare): Initial release
  charts/cloudflare-tunnel/.helmignore
  charts/cloudflare-tunnel/Chart.lock
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/cloudflare-tunnel/README_CONFIG.md.gotmpl
  charts/cloudflare-tunnel/icon.svg
  charts/cloudflare-tunnel/templates/common.yaml
  charts/cloudflare-tunnel/values.yaml
Labels: area/charts

feat(cloudflare): Update README.md
  README.md
Labels: none

feat(cloudflare): Initial release (#17)
  README.md
  charts/cloudflare-tunnel/.helmignore
  charts/cloudflare-tunnel/Chart.lock
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/cloudflare-tunnel/README_CONFIG.md.gotmpl
  charts/cloudflare-tunnel/icon.svg
  charts/cloudflare-tunnel/templates/common.yaml
  charts/cloudflare-tunnel/values.yaml
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

feat(doc): Update Cloudflare logo
  charts/cloudflare-tunnel/icon.svg
Labels: area/charts

feat(doc): Update README.md
  README.md
Labels: none

feat(cloudflare): Changed cloudflared command when testing the Chart
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/cloudflare-tunnel/templates/common.yaml
  charts/cloudflare-tunnel/values.yaml
Labels: area/charts

feat(cloudflare): Changed cloudflared command when testing the Chart (#19)
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/cloudflare-tunnel/templates/common.yaml
  charts/cloudflare-tunnel/values.yaml
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/charts:
  - changed-files:
      - any-glob-to-any-file: "charts/**/*"
