Repository plcnk/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ci, area/charts

.github/labeler.yaml:

---
area/ci:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/charts:
  - changed-files:
      - any-glob-to-any-file: "charts/**/*"

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

Revert "chore(deps): update helm/chart-releaser-action action to v1.7.0 (#76)"
  .github/workflows/release.yaml
Labels: area/ci

Revert "chore(deps): update helm/chart-releaser-action action to v1.7.0 (#76)" (#78)
  .github/workflows/release.yaml
Labels: area/ci

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

chore: Update chart metadata
  charts/cloudflare-tunnel/Chart.yaml
  charts/cloudflare-tunnel/README.md
  charts/it-tools/Chart.yaml
  charts/it-tools/README.md
  charts/moodist/Chart.yaml
  charts/moodist/README.md
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none

chore: Update chart metadata
  charts/wikijs/Chart.yaml
  charts/wikijs/README.md
Labels: area/charts

Update index.yaml
  index.yaml
Labels: none
